
<div class="container">
  <h1><%= @restaurant.name %></h1>
  <ul>
    <li><%= @restaurant.address %></li>
    <li><%= @restaurant.phone_number %></li>
    <li><%= @restaurant.category.capitalize %></li>

  </ul>

  <%= link_to 'Go back', restaurants_path, class: 'btn btn-primary text-white' %>

  <ul>
    <% @reviews.each do |review| %>
      <li class="border-bottom p-2 my-2">
        <% review.rating.times do %>
          <i class="fas fa-star text-info"></i>
        <% end %>
        <p><%= review.content %></p>

      </li>
    <% end %>
  </ul>

  <h3>Add new review for <%= @restaurant.name %></h3>

  <div class="row d-flex mb-3">
    <div class="col-6">

      <%= simple_form_for [ @restaurant, @review ] do |f| %>
        <%= f.input :rating %>
        <%= f.input :content %>
        <%= f.submit "Add review", class: "btn btn-primary text-white" %>
      <% end %>

    </div>
  </div>

</div>
